body {
  margin: 0;
  font-family: Arial, sans-serif;
}
nav {
  display: flex;
  justify-content:space-between;
  background-color: black;
  color: antiquewhite;
  padding: 15px;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 20px;
}
nav li{
  cursor: pointer;
}